apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-gateway
  labels:
    app: gateway
spec:
  replicas: {{ .Values.gateway.replicaCount }}
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: "{{ .Values.gateway.image.repository }}:{{ .Values.gateway.image.tag }}"
          imagePullPolicy: {{ .Values.gateway.image.pullPolicy }}
          env:
            - name: Discord__Token
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secrets
                  key: discord-token
            - name: Kafka__BootstrapServers
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-config
                  key: KAFKA_BOOTSTRAP_SERVERS
          resources:
            {{- toYaml .Values.resources.gateway | nindent 12 }}
