apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  discord-token: {{ .Values.discord.token | quote }}
  postgres-password: {{ .Values.postgresql.password | quote }}
